*.pyc
.venv
.idea
.vscode
.cache
.context
.coverage
.settings
.sdkrc
.pytest_cache
.tox
config.yaml
coverage.xml
dist/
splunk_cloud_sdk_python.egg-info/
splunk_cloud_sdk.egg-info/
sdkrc
sdkrc.encrypted
.python-version
build/
docs/README.md
docs/package.json
docs/pkg/
docs/node_modules/
.eggs
.env
*.DS_Store