*.pyc
.venv
.idea
.vscode
.context
.coverage
.settings
.sdkrc
.pytest_cache
.tox
config.yaml
dist/
doc/build
doc/source/reference/api
splunk_cloud_sdk_python.egg-info/
sdkrc
sdkrc.encrypted
.python-version
build/
.eggs
.env
